.tran {
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}
.fuentee {
  font-family: "Kufam";
}

@font-face {
  font-family: "Kufam", cursive;
  font-style: normal;
  src: url("Kufam-Italic-VariableFont_wght.ttf") format("truetype");
}
