:root {
  --fuente_uno: "Comfortaa", cursive;
}
.tran {
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}
.fuente {
  font-family: var(--fuente_uno);
}
.mau {
  background: green;
}
